.gadgets-section {
  position: relative;
}

.scrolling-wrapper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolling-wrapper {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.product-card {
  width: 290px;
  flex-shrink: 0;
}

.skyblue-button {
  background-color: skyblue;
  border-color: skyblue;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.skyblue-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
